@import "https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&family=Ubuntu:wght@300&display=swap";
header {
  background-color: #ff9800;
  border: black 2px solid;
}

.barra_top {
  font-size: 25px;
  text-align: right;
  list-style: none;
  margin-right: 8px;
  margin-top: 10px;
}

.logo {
  text-align: left;
  position: relative;
  bottom: 18px;
  left: 8px;
}

.ordenar_contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.borde {
  border: black 2px solid;
  padding: 10px;
  background: #ff9800;
  margin: 20px;
  border-radius: 15px;
}

.pie {
  border-top: 2px solid #212020;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  font-family: "Fjalla One", sans-serif;
}

li {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

.boton_c {
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(84, 83, 83);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.boton_a {
  position: relative;
  left: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: #212020;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.botones {
  display: flex;
  justify-content: right;
  grid-area: botones;
}

.formulario {
  background-color: #212020;
  color: white;
  font-size: 14px;
}

form {
  display: inline-block;
  border: black 2px solid;
  border-radius: 15px;
  height: 50%;
  width: 50%;
  padding: 10px;
  background: #ff9800;
  margin: 75px 0 50px 0;
}

input {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  grid-area: textarea;
  width: 100%;
}

::placeholder {
  color: white;
  opacity: 50%;
}

.parrafo_inicio {
  grid-area: parrafo_inicio;
  margin: 15px 25px 0 25px;
  display: block;
  color: white;
  text-align: center;
}

.titulo_4 {
  grid-area: titulo_1;
  font-size: 50px;
  margin: 15px 25px 0 25px;
  display: block;
  color: white;
  text-align: center;
  position: relative;
  top: 20px;
}

.descripcion {
  display: block;
  color: white;
  position: relative;
  left: 20px;
  text-align: center;
}

.titulo_1 {
  grid-area: titulo_1;
  font-size: 50px;
  margin: 15px 25px 0 25px;
  display: block;
  color: white;
  text-align: center;
}

.titulo_2 {
  grid-area: titulo_2;
  font-size: 40px;
  margin: 15px 25px 0 25px;
  display: block;
  color: white;
  text-align: center;
}

.titulo_3 {
  grid-area: titulo_3;
  font-size: 40px;
  margin: 15px 25px 0 25px;
  display: block;
  color: white;
  text-align: center;
}

header nav ul li a:hover {
  background: rgb(255, 128, 0);
}

.gris {
  filter: grayscale(80%);
}
.gris:hover {
  filter: grayscale(0%);
  transition: 1s;
}

input:focus {
  background-color: #7e7d7d;
  transition: 1s;
}

textarea:focus {
  background-color: #7e7d7d;
  transition: 1s;
}

.input_1 {
  grid-area: input_1;
}

.input_2 {
  grid-area: input_2;
}

.input_3 {
  grid-area: input_3;
}

.input_4 {
  grid-area: input_4;
}

.pregunta_textarea {
  grid-area: pregunta_textarea;
}

textarea {
  grid-area: textarea;
}

.contenedor_impesoras {
  grid-area: contenedor_impesoras;
}

.cont_padre_materiales {
  grid-area: cont_padre_materiales;
}

@media screen and (max-width: 768px) {
  .imagen_parrafo {
    display: flex;
    justify-content: center;
  }
  .cont_materiales {
    display: flex;
    justify-content: center;
  }
  .main_nosotros {
    display: grid;
    grid-template-areas: "titulo_1" "parrafo_inicio" "titulo_2" "contenedor_impesoras" "titulo_3" "cont_padre_materiales";
  }
  header {
    height: 120px;
  }
  .borrar_movile {
    display: none;
  }
  .barra_top {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .logo {
    width: 75%;
    position: relative;
    top: 12px;
    margin-left: 50px;
  }
  form {
    display: grid;
    grid-template-areas: "input_1" "input_2" "input_3" "input_4" "pregunta_textarea" "textarea" "botones";
    gap: 5px;
  }
  .borde {
    width: 50%;
    height: 50%;
  }
}
@media screen and (min-width: 769px) {
  .logo {
    width: 30%;
  }
  form {
    display: grid;
    grid-template-areas: "input_1 input_2" "input_3 input_4" "pregunta_textarea none" "textarea textarea" "botones botones";
    gap: 5px;
  }
}

/*# sourceMappingURL=estilo.css.map */
