$color_1: black;

$font-family_1: 'Fjalla One', sans-serif;

$background-color_2: #424242;

$background-color_1: #ff9800;

$color_2: white;

$background-color_5: #212020;

$background-color_3: rgb(84, 83, 83);

$background-color_4: #212020;

$background-color_6: #7e7d7d;
